extends ../_index.pug

block state
  - const title = 'Tag Picker'
  - const scripts = ['../index.min.js']
  - const styles = ['../index.min.css']

block script
  script
    | const picker = new TP(document.querySelector('input'), {
    |     escape: [
    |         // Modern browser(s)
    |         ',', ' ', '\n', '\t',
    |         // Legacy browser(s)
    |         188, 32, 13, 9
    |     ]
    | });

block content
  main
    form
      p Disable #[kbd ,], #[kbd Space], #[kbd Tab] and #[kbd Enter] key.
      p: input(type='text' value='foo, bar, baz')
