extends ../_index.pug

block state
  - const title = 'Tag Picker'
  - const scripts = ['../index.min.js']
  - const styles = ['../index.min.css']

block script
  script
    | const picker = new TP(document.querySelector('input'));
    |
    | picker.f = text => {
    |     return (text || "").toLowerCase().replace(/[^a-z\d-]/gi, '-').replace(/-+/g, '-').replace(/^-|-$/g, "");
    | };

block content
  main
    p Replace all characters except #[code='[a-z0-9-]'] and convert all characters to their lower-case mode:
    p: input(type='text')
