extends ../_index.pug

block state
  - const scripts = ['../index.min.js']
  - const styles = ['../index.min.css']
  - const title = 'Tag Picker'

block script
  script
    | const picker = new TagPicker(document.querySelector('input'));

block style
  style
    | .tag-picker {
    |   width: 8em;
    | }

block content
  main
    form(method='get' target='_blank')
      p asdf
      p
        = 'asdf '
        input(name='test' type='text' value='a, b')
        = ' asdf'
      p asdf
      p
        button(onclick='this.disabled = true; this.nextElementSibling.disabled = false; picker.detach(); return false;' type='button') Detach
        = ' '
        button(disabled onclick='this.disabled = true; this.previousElementSibling.disabled = false; picker.attach(); return false;' type='button') Attach
        = ' '
        button(type='submit') Submit