extends ../_index.pug

block state
  - const scripts = ['../index.min.js']
  - const styles = ['../index.min.css']
  - const title = 'Tag Picker'

block script
  script
    | const picker = new TagPicker(document.querySelector('input'));
    |
    | picker.on('change', function () {
    |     null !== this.value && console.log(this.value.split(this.state.join));
    | });

block style
  style
    | .tag-picker {
    |   width: 100%;
    | }

block content
  main
    p: input(type='text' value='foo, bar')
    p: button(onclick='picker.value = \'a, b, c, d\';') Set Value to #[code a, b, c, d]