extends ../_index.pug

block state
  - const title = 'Tag Picker'
  - const scripts = ['../index.min.js']
  - const styles = ['../index.min.css']

block script
  script
    | const picker = new TagPicker(document.querySelector('input'));
    |
    | picker._convert = text => {
    |     return '@' + (text || "").toLowerCase().replace(/[^a-z\d-]/gi, '-').replace(/-+/g, '-').replace(/^-|-$/g, "");
    | };

block style
  style
    | .tag-picker {
    |   width: 100%;
    | }

block content
  main
    p Convert tag name to #[code @kebab-case].
    p: input(type='text')