extends ../_index.pug

block state
  - const scripts = ['../index.min.js']
  - const styles = ['../index.min.css']
  - const title = 'Tag Picker'

block script
  script
    | const picker = new TagPicker(document.querySelector('input'));
    |
    | picker.on('copy', function (e, tags) {
    |     console.info('Tags “' + tags.join(this.state.join) + '” copied successfully.');
    | });
    |
    | picker.on('cut', function (e, tags) {
    |     console.info('Tags “' + tags.join(this.state.join) + '” cut successfully.');
    | });
    |
    | picker.on('paste', function (e, tags) {
    |     console.info('Tags “' + tags.join(this.state.join) + '” are going to be pasted.');
    | });
    |
    | picker.on('let.tag', function (e, tag) {
    |     console.info('Tag “' + tag + '” deleted successfully.');
    | });
    |
    | picker.on('set.tag', function (e, tag) {
    |     console.info('Tag “' + tag + '” inserted successfully.');
    | });

block style
  style
    | .tag-picker {
    |   width: 100%;
    | }

block content
  main
    p Some text to copy: #[mark(style={'user-select': 'all'} tabindex='0') foo, bar, baz, qux]
    p: input(type='text' value='a, b, c, d')