extends ../_index.pug

block state
  - const scripts = ['../index.min.js']
  - const styles = ['../index.min.css']
  - const title = 'Tag Picker'

block script
  script
    | const picker = new TagPicker(document.querySelector('input'));
    |
    | picker.self.form.addEventListener('reset', function () {
    |     setTimeout(() => picker.active = document.querySelector('input[type=checkbox]').checked, 1);
    | });
    |
    | picker.active = document.querySelector('input[type=checkbox]').checked;

block style
  style
    | .tag-picker {
    |   width: 100%;
    | }

block content
  main
    form(method='get' target='_blank')
      p: input(disabled name='test' type='text' value='a, b')
      p
        label
          input(onchange='picker.active = this.checked;' type='checkbox')
          = ' '
          span Enable
      p
        button(type='submit') Submit
        = ' '
        button(type='reset') Reset
        = ' '
        button(onclick='picker.tags.set(\'c\'), picker.focus();' type='button') Add &ldquo;c&rdquo; Tag