extends ../_index.pug

block state
  - const title = 'Tag Picker'
  - const scripts = ['../index.min.js']
  - const styles = ['../index.min.css']

block script
  script
    | const picker = new TagPicker(document.querySelector('input'));

block style
  style
    | .tag-picker {
    |   width: 100%;
    | }

block content
  main
    form(method='get')
      p: input(disabled name='tags' type='text' value='foo, bar')
      p
        label
          input(onchange='picker.self.disabled = !this.checked; picker.detach().attach();' type='checkbox')
          = ' '
          span Enable
      p
        button(type='submit') Submit
        = ' '
        button(onclick='picker.set(\'baz\').focus();' type='button') Add &ldquo;baz&rdquo; Tag