extends ../_index.pug

block state
  - const title = 'Tag Picker'
  - const scripts = ['../index.min.js']
  - const styles = ['../index.min.css']

block script
  script
    | const picker = new TagPicker(document.querySelector('input'), {
    |     escape: [',', ' ', '\n', '\t']
    | });

block style
  style
    | .tag-picker {
    |   width: 100%;
    | }

block content
  main
    form
      p Disable #[kbd ,], #[kbd Space], #[kbd Tab] and #[kbd Enter] key.
      p: input(type='text' value='foo, bar, baz')