extends ../_index.pug

block state
  - const title = 'Tag Picker'
  - const scripts = ['../index.min.js']
  - const styles = ['../index.min.css']

block script
  script
    | const picker = new TagPicker(document.querySelector('input'));

block style
  style
    | .tag-picker {
    |  border-width: 2px;
    | }
    | .tag-picker.tag-picker--focus {
    |   border-color: #f00;
    | }
    | .tag-picker.tag-picker--focus-tag {
    |   background: #0f0;
    | }
    | .tag-picker.tag-picker--focus-text {
    |   background: #ff0;
    | }

block content
  main
    p: input(placeholder!='Tags go here&hellip;' type='text')