extends ../_index.pug

block state
  - const title = 'Tag Picker'
  - const scripts = ['../index.min.js']
  - const styles = ['../index.min.css']

block script
  script
    | const picker = new TagPicker(document.forms[0].tags);
    |
    | picker.self.form.addEventListener('submit', function (e) {
    |     console.log(picker.value);
    |     this.prevent.checked && e.preventDefault();
    | });

block style
  style
    | .tag-picker {
    |   width: 100%;
    | }

block content
  main
    p Submitting a form by pressing the #[em Submit] button vs. pressing the #[kbd Enter] key in a tag picker visual.
    form(method='get' target='_blank')
      p: input(name='tags' type='text' value='foo, bar')
      p
        label
          input(name='prevent' type='checkbox')
          = ' '
          span Test Default Prevention via JavaScript
      p: button(type='submit') Submit