extends ../_index.pug

block state
  - const scripts = ['../index.min.js']
  - const styles = ['../index.min.css']
  - const title = 'Tag Picker'

block script
  script
    | const picker = new TagPicker(document.querySelector('input'), {
    |     max: 3
    | });
    |
    | picker.on('max.tags', function (e, tag) {
    |     console.error('The maximum number of tags that can be inserted is ' + this.state.max + '.');
    |     tag && console.info('Last typed tag name is “' + tag + '”');
    | });

block style
  style
    | .tag-picker {
    |   width: 100%;
    | }

block content
  main
    p Maximum tags allowed to be inserted is 3. Some text to copy: #[mark(style={'user-select': 'all'} tabindex='0') foo, bar, baz, qux]
    form(method='get')
      p: input(name='tags' type='text')
      p: button(type='submit') Submit