extends ../_index.pug

block state
  - const title = 'Tag Picker'
  - const scripts = ['../index.min.js']
  - const styles = ['../index.min.css']

block script
  script
    | const picker = new TagPicker(document.querySelector('input'), {
    |     min: 3
    | });
    |
    | picker.on('min.tags', function () {
    |     console.error('Minimum tags inserted to be able to submit the form is ' + this.state.min + '.');
    | });

block style
  style
    | .tag-picker {
    |   width: 100%;
    | }

block content
  main
    p Minimum tags inserted to be able to submit the form is 3.
    form(method='get')
      p: input(name='tags' type='text')
      p: button(type='submit') Submit