extends ../_index.pug

block state
  - const title = 'Tag Picker'
  - const scripts = ['../index.min.js']
  - const styles = ['../index.min.css']

block script
  script
    | const picker = new TagPicker(document.querySelector('input'));

block content
  main
    form(method='get' target='_blank')
      p: input(name='tags' readonly type='text' value='foo, bar')
      p
        label
          input(checked onchange='picker.self.readOnly = this.checked; picker.detach().attach();' type='checkbox')
          = ' '
          span Read-Only
      p
        button(type='submit') Submit
        = ' '
        button(onclick='picker.set(\'baz\').focus();' type='button') Add &ldquo;baz&rdquo; Tag