extends ../_index.pug

block state
  - const scripts = ['../index.min.js']
  - const styles = ['../index.min.css']
  - const title = 'Tag Picker'

block script
  script
    | const picker = new TagPicker(document.querySelector('input'));
    |
    | picker.self.form.addEventListener('reset', function () {
    |     setTimeout(() => picker.vital = document.querySelector('input[type=checkbox]').checked, 1);
    | });
    |
    | picker.vital = document.querySelector('input[type=checkbox]').checked;
    |
    | picker.on('min.tags', function (count, min) {
    |     alert('The minimum number of tags that must be inserted to be able to submit the form is ' + min + '.');
    | });

block style
  style
    | .tag-picker {
    |   width: 100%;
    | }

block content
  main
    form(method='get' target='_blank')
      p: input(name='test' required type='text')
      p
        label
          input(checked onchange='picker.vital = this.checked;' type='checkbox')
          = ' '
          span Required
      p
        button(type='submit') Submit
        = ' '
        button(type='reset') Reset
        = ' '
        button(onclick='picker.tags.set(\'a\'), picker.focus();' type='button') Add &ldquo;a&rdquo; Tag