extends ../_index.pug

block state
  - const scripts = ['../index.min.js']
  - const styles = ['../index.min.css']
  - const title = 'Tag Picker'

block script
  script
    | const picker = new TagPicker(document.querySelector('input'));
    |
    | picker.on('min.tags', function () {
    |     console.error('The minimum number of tags that must be inserted to be able to submit the form is ' + this.state.min + '.');
    | });

block style
  style
    | .tag-picker {
    |   width: 100%;
    | }

block content
  main
    form(method='get' target='_blank')
      p: input(name='test' required type='text')
      p
        label
          input(checked onchange='picker.self.required = this.checked; picker.detach().attach(picker.self, {min: 0});' type='checkbox')
          = ' '
          span Required
      p
        button(type='submit') Submit
        = ' '
        button(onclick='picker.set(\'baz\').focus();' type='button') Add &ldquo;baz&rdquo; Tag