extends ../_index.pug

block state
  - const scripts = ['../index.min.js']
  - const styles = ['../index.min.css']
  - const title = 'Tag Picker'

block script
  script
    | const inputs = document.querySelectorAll('input');
    |
    | const picker_0 = new TagPicker(inputs[0]);
    | const picker_1 = new TagPicker(inputs[1], {
    |     escape: [';'],
    |     join: '; '
    | });

block style
  style
    | .tag-picker {
    |   width: 100%;
    | }

block content
  main
    p Using #[code ,] as tags separator (default):
    p: input(type='text' value='foo, bar, baz')
    p Using #[code ;] as tags separator:
    p: input(type='text' value='foo; bar; baz')