$name: 'tag-picker';

$color-back-lock: #eee;
$color-back: #fff;
$color-border-focus: #00f;
$color-border-lock: #999;
$color-border: #000;
$color-tag-back-focus: #c00;
$color-tag-back-lock: #aaa;
$color-tag-back: #f00;
$color-tag-x: #fff;
$color-tag: #000;
$color: #000;

$height: 1.5em;

.#{$name} {
  &,
  & * {
    box-sizing: border-box;
    font: inherit;
    color: inherit;
  }
  position: relative;
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  min-height: $height;
  line-height: $height;
  background: $color-back;
  border: 1px solid $color-border;
  padding: .125em;
  cursor: text;
  outline: 0;
  &--focus {
    border-color: $color-border-focus;
  }
}

.#{$name}__copy {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  opacity: 0;
}

.#{$name}__tag {
  background: $color-tag-back;
  color: $color-tag;
  text-decoration: none;
  margin: .125em;
  padding: 0 .5em;
  height: $height; // Same with `min-height` of container
  cursor: pointer;
  outline: 0;
  &--focus {
    background: $color-tag-back-focus;
  }
  &::before {
    content: attr(title);
  }
  + .#{$name}__text {
    span {
      + span {
        // Hide the placeholder if we have at least one tag
        display: none;
      }
    }
  }
  &-x {
    margin-left: .5em;
    text-decoration: none;
    color: $color-tag-x;
    outline: 0;
    &::before {
      content: '\00d7'; // The “×” button
      font-family: sans-serif;
    }
  }
}

.#{$name}__text {
  background: none;
  color: inherit;
  cursor: inherit;
  position: relative;
  flex: 1;
  span {
    display: block;
    height: 100%;
    outline: 0;
    position: relative;
    z-index: 1;
    + span {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      padding: inherit;
      white-space: nowrap;
      z-index: 0;
      opacity: .5;
    }
  }
}

.#{$name}__tags {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  min-height: $height;
  line-height: $height;
}

.#{$name}__source {
  position: fixed;
  top: -9999px;
  left: -9999px;
  &[disabled] {
    + .#{$name} {
      &,
      & * {
        cursor: not-allowed;
      }
      .#{$name}__tag {
        background: $color-tag-back-lock;
      }
      background: $color-back-lock;
      border-color: $color-border-lock;
    }
  }
  &[readonly] {
    + .#{$name} {
      .#{$name}__tag-x {
        cursor: not-allowed;
      }
      background: $color-back-lock;
      border-color: $color-border-lock;
    }
  }
  &[disabled],
  &[readonly] {
    + .#{$name} {
      .#{$name}__text {
        background: none;
      }
    }
  }
}
