.tag-picker {
  background: #fff;
  border: 1px solid #000;
  padding: .125em;
  cursor: text;
}

.tag-picker,
.tag-picker * {
  box-sizing: border-box;
  font: inherit;
  color: inherit;
}

.tag-picker,
.tag-picker .tags {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  min-height: 1.5em;
  line-height: 1.5em;
}

.tag-picker:focus-within {
  border-color: #00f;
}

.tag-picker .tag {
  background: #f00;
  color: #000;
  text-decoration: none;
  margin: .125em;
  padding: 0 .5em;
  height: 1.5em;
  cursor: pointer;
  outline: none;
}

.tag-picker .tag:focus {
  background: #c00;
}

.tag-picker .tag[title] a {
  margin-left: .5em;
  text-decoration: none;
  color: #fff;
  outline: none;
}

.tag-picker .tag[title] a::before {
  content: '\00d7';
  font-family: sans-serif;
}

.tag-picker .tag[title]::before {
  content: attr(title);
}

.tag-picker .tag + .editor span + span {
  display: none;
}

.tag-picker .editor {
  background: none;
  color: inherit;
  cursor: inherit;
  position: relative;
  flex: 1;
}

.tag-picker .editor span {
  display: block;
  height: 100%;
  outline: none;
  position: relative;
  z-index: 1;
}

.tag-picker .editor span + span {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: inherit;
  white-space: nowrap;
  z-index: 0;
  opacity: .5;
}

.tag-picker-source {
  position: fixed;
  top: -9999px;
  left: -9999px;
}

.tag-picker-source[disabled] + .tag-picker {
  background: #eee;
  border-color: #999;
}

.tag-picker-source[disabled] + .tag-picker,
.tag-picker-source[disabled] + .tag-picker * {
  cursor: not-allowed;
}

.tag-picker-source[disabled] + .tag-picker .tag[title] {
  background: #aaa;
}

.tag-picker-source[readonly] + .tag-picker {
  background: #eee;
  border-color: #999;
}

.tag-picker-source[readonly] + .tag-picker .tag[title] a {
  cursor: not-allowed;
}