span.tags,
span.tags * {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}
span.tags {
  font:inherit;
  font-weight:normal;
  font-style:normal;
  border:1px solid;
  display:block;
  cursor:text;
  overflow:hidden;
  position:relative;
}
span.tags .tags-view {
  display:table;
  border-collapse:separate;
  border-spacing:.25em;
}
span.tags .tag {
  display:table-cell;
  width:auto;
  background:#f00;
  padding:0 .5em;
  height:1.75em;
  line-height:1.75em;
  cursor:default;
}
span.tags .tag::before {content:attr(data-tag)}
span.tags a {
  display:inline-block;
  margin:0 0 0 .5em;
  color:#fff;
  text-decoration:none;
  cursor:pointer;
}
span.tags a::before {content:'\00D7'}
span.tags .tags-input {
  background:none;
  cursor:inherit;
  min-width:1em;
  position:relative;
}
span.tags .tags-input span {
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:.5em;
  z-index:4;
}
span.tags .tags-input span + span {
  position:static;
  opacity:.5;
  white-space:nowrap;
}
span.tags .tag + .tags-input span + span {display:none}
span.tags .tags-input span:focus + span {opacity:.4}
.tags-output {
  position:fixed;
  top:-9999px;
  left:-9999px;
}