.tags {
  display:block;
  background:#fff;
  border:1px solid;
  font:normal normal normal 13px/1.25 Helmet,FreeSans,sans-serif;
  color:#000;
  padding:.25em .25em 0 0;
  cursor:text;
}
.tags-input,
.tags-output {
  display:inline-block;
  vertical-align:middle;
  width:auto;
  height:auto;
  margin:0;
  padding:0;
  background:none;
  border:0;
  outline:0;
  font:inherit;
  color:inherit;
  text-align:left;
  text-shadow:none;
}
.tags-output {margin-left:.25em}
.tags-input,
.tags-output span {
  display:inline-block;
  background:#f00;
  color:inherit;
  margin:0 .25em .25em 0;
  padding:.25em .4375em;
  border-radius:.125em;
  cursor:default;
}
.tags-input {
  min-width:10em;
  background:none;
  padding-right:0;
  border-radius:0;
  cursor:inherit;
}
.tags-output a {
  display:inline-block;
  text-decoration:none;
  color:#fff;
  cursor:pointer;
  margin-left:.4375em;
}
.tags-output a:before {content:'\00d7'}