extends ../_index.pug

block state
  - const title = 'Tag Picker'
  - const scripts = ['../index.min.js']
  - const styles = ['../index.min.css']

block script
  script
    | const picker = new TP(document.querySelector('input'));
    |
    | picker.on('has.tag', function (tag, index) {
    |     const node = this.self.querySelector('.' + this.state['class'] + '__tag[title="' + tag + '"]');
    |     if (node) {
    |         node.classList.add(this.state['class'] + '__tag--target');
    |         setTimeout(() => {
    |             node.classList.remove(this.state['class'] + '__tag--target');
    |         }, 2000);
    |     }
    | });

block style
  style
    | .tag-picker__tag--target:not(.tag-picker__input) {
    |   background: #0f0;
    | }

block content
  main
    p Add #[em foo] again to see the effect:
    p: input(type='text' value='foo, bar, baz')