extends _index.pug

block state
  - const title = 'Tag Picker'
  - const scripts = ['index.min.js', 'tag-picker/element.min.js']
  - const styles = ['index.min.css']

block content
  main
    p Test native HTML5 custom element. View the page source!
    form(method='get' target='_blank')
      p: tag-picker(name='tag-1' value='foo, bar, baz')
      p: tag-picker(name='tag-2' placeholder='foo, bar, baz')
      p: button(type='submit') Check Values
