extends _index.pug

block state
  - const title = 'Tag Picker'
  - const scripts = ['index.min.js']
  - const styles = ['index.min.css']

block script
  script
    | const picker = new TP(document.querySelector('input'));
    |
    | picker.on('has.tag', (tag, index) => {
    |     alert('Tag “' + tag + '” already exists at index “' + index + '”.');
    | });

block content
  main
    p Add #[em foo] again to see the default effect:
    p: input(type='text' value='foo, bar, baz')
