extends ../_index.pug

block state
  - const title = 'Tag Picker'
  - const scripts = ['../index.min.js']
  - const styles = ['../index.min.css']

block script
  script
    | const sources = document.querySelectorAll('input');
    | const picker_0 = new TP(sources[0]);
    | const picker_1 = new TP(sources[1]);

block content
  main
    table(border='1' style={'width':'100%'})
      caption Tag picker in fluid table layout.
      tbody
        tr
          th Tags
          td: input(type='text')
    table(border='1' style={'width':'100%','table-layout':'fixed'})
      caption Tag picker in fixed table layout.
      tbody
        tr
          th Tags
          td: input(type='text')