extends ../_index.pug

block state
  - const title = 'Tag Picker'
  - const scripts = ['../index.min.js']
  - const styles = ['../index.min.css']

block script
  script
    | let picker = new TP(document.querySelector('input'));

block content
  main
    form(method='get' target='_blank')
      p: input(name='tags' readonly type='text' value='foo, bar')
      p
        label
          input(checked onchange='picker.source.readOnly = this.checked; picker.pop(); picker = new TP(picker.source);' type='checkbox')
          = ' '
          span Read-Only
      p
        button(type='submit') Submit
        = ' '
        button(onclick='picker.set(\'baz\')' type='button') Add &ldquo;baz&rdquo; Tag