extends ../_index.pug

block state
  - const title = 'Tag Picker'
  - const scripts = ['../index.min.js']
  - const styles = ['../index.min.css']

block script
  script
    | const picker = new TP(document.querySelector('input'), {
    |     escape: ['/', '\\', '\t', '\n'],
    |     join: '/'
    | });

block style
  style
    | .tag-picker {
    |   padding: 0 .25em;
    | }
    | .tag-picker__tag {
    |   background: none;
    |   margin: 0;
    |   padding: 0;
    | }
    | .tag-picker__tag--focus {
    |   background: #ff0;
    | }
    | .tag-picker__tag::before {
    |   color: #00f;
    | }
    | .tag-picker__tag-x {
    |   display: none;
    | }
    | .tag-picker__tag::after {
    |   content: '/'
    | }
    | .tag-picker__tags::before {
    |   content: 'C:/server/www/';
    | }
    | .tag-picker__text::before,
    | .tag-picker__text::after {
    |   display: none;
    | }

block content
  main
    p: input(type='text' value='foo/bar')
