extends ../_index.pug

block state
  - const scripts = ['../index.min.js']
  - const styles = ['../index.min.css']
  - const title = 'Tag Picker'

block script
  script
    | const picker = new TagPicker(document.querySelector('input'));
    | const pickerName = picker.self.getAttribute('name');
    | const pickerTags = [];
    |
    | picker.self.removeAttribute('name');
    |
    | function onChange() {
    |     let tag;
    |     while (tag = pickerTags.shift()) {
    |         tag.remove();
    |     }
    |     this.tags.values.forEach((v, k) => {
    |         let input = document.createElement('input');
    |         input.name = pickerName;
    |         input.type = 'hidden';
    |         input.value = v[2].value;
    |         picker.self.form.append(input);
    |         pickerTags.push(input);
    |     });
    | } onChange.call(picker);
    |
    | picker.on('change', onChange);

block style
  style
    | .tag-picker {
    |   width: 100%;
    | }

block content
  main
    form(method='get' target='_blank')
      p: input(name='test[]' type='text' value='a, b, c')
      p: button(type='submit') Submit