extends ../_index.pug

block state
  - const scripts = ['../index.min.js']
  - const styles = ['../index.min.css']
  - const title = 'Tag Picker'

block script
  script
    | const picker = new TagPicker(document.querySelector('input'));
    |
    | picker._mask.input.addEventListener('blur', function () {
    |     const text = picker.text;
    |     text && (picker.tags.set(text), picker.text = ""); // Insert on blur
    | });

block style
  style
    | .tag-picker {
    |   width: 100%;
    | }

block content
  main
    p Previous versions would do this by default, but #[a(href='https://github.com/taufik-nurrohman/tag-picker/discussions/19' target='_blank') some people] do not want this behavior. Have a look at the source code to see how I restore the old behavior!
    form(method='get' target='_blank')
      p: input(name='test' type='text' value='a, b, c')
      p: button(type='submit') Submit