extends ../_index.pug

block state
  - const title = 'Tag Picker'
  - const scripts = ['../index.min.js']
  - const styles = ['../index.min.css']

block script
  script
    | const picker = new TagPicker(document.querySelector('input'));
    |
    | picker.on('blur', function () {
    |     const text = this.text;
    |     text && (this.set(text), this.text = ""); // Insert on blur
    | });

block style
  style
    | .tag-picker {
    |   width: 100%;
    | }

block content
  main
    p Previous versions would do this by default, but #[a(href='https://github.com/taufik-nurrohman/tag-picker/discussions/19' target='_blank') some people] do not want this behavior. Have a look at the source code to see how I restore the old behavior!
    form(method='get')
      p: input(name='tags' type='text' value='foo, bar, baz')
      p: button(type='submit') Submit