extends ../_index.pug

block state
  - const scripts = ['../index.min.js']
  - const styles = ['../index.min.css']
  - const title = 'Tag Picker'

block script
  script
    | const d = document.createElement('small');
    | const picker = new TagPicker(document.querySelector('input'));
    |
    | d.style.color = 'red';
    | d.style.display = 'block';
    | d.style.marginTop = '0.5em';
    |
    | picker.on('has.tag', name => {
    |     d.innerHTML = 'Tag “' + name + '” already exists.';
    |     picker.mask.after(d);
    |     setTimeout(() => d.remove(), 1000);
    | });

block style
  style
    | .tag-picker {
    |   width: 100%;
    | }

block content
  main
    p Add #[em c] again to see the effect!
    p: input(type='text' value='a, b, c')