extends ../_index.pug

block state
  - const scripts = ['../index.min.js']
  - const styles = ['../index.min.css']
  - const title = 'Tag Picker'

block script
  script
    | const picker = new TagPicker(document.querySelector('input'), {
    |     max: 5,
    |     pattern: '^[a-z\\d]+(-[a-z\\d]+)*$'
    | });
    |
    | function letInvalid() {
    |     this.mask.removeAttribute('aria-invalid');
    | }
    |
    | function setInvalid() {
    |     this.mask.setAttribute('aria-invalid', 'true');
    |     setTimeout(() => {
    |         this.mask.removeAttribute('aria-invalid');
    |     }, 1000);
    | }
    |
    | picker.on('has.tag', setInvalid);
    | picker.on('let.tag', letInvalid);
    | picker.on('max.tags', setInvalid);
    | picker.on('min.tags', setInvalid);
    | picker.on('not.tag', setInvalid);
    | picker.on('set.tag', letInvalid);
    |
    | picker._mask.input.addEventListener('blur', function () {
    |     letInvalid.call(picker);
    | });

block style
  style
    | .tag-picker {
    |   width: 100%;
    | }
    | .tag-picker[aria-invalid='true'] {
    |   color: #f00;
    | }

block content
  main
    p Add #[em c] tag again, or add #[em 3] more tags, or type any tag name that does not match #[code='^[a-z\\d]+(-[a-z\\d]+)*$'] pattern!
    p: input(type='text' value='a, b, c')