extends ../_index.pug

block state
  - const scripts = ['../index.min.js']
  - const styles = ['../index.min.css']
  - const title = 'Tag Picker'

block script
  script
    | const picker = new TagPicker(document.querySelector('input'));
    |
    | picker.on('has.tag', function (name) {
    |     const at = this.tags.at(name);
    |     if (at) {
    |         at[2].setAttribute('aria-busy', 'true');
    |         setTimeout(() => {
    |             at[2].removeAttribute('aria-busy');
    |         }, 1000);
    |     }
    | });

block style
  style
    | .tag-picker {
    |   width: 100%;
    | }
    | .tag-picker__tag[aria-busy='true'] {
    |   background: rgb(255, 0, 0, 0.25);
    | }

block content
  main
    p Add #[em c] again to see the effect!
    p: input(type='text' value='a, b, c')