extends ../_index.pug

block state
  - const title = 'Tag Picker'
  - const scripts = ['../index.js']
  - const styles = ['../index.css']

block script
  script
    | const picker = new TP(document.querySelector('input'));
    | const view = document.querySelector('b');
    |
    | picker.input.addEventListener('keydown', e => (view.textContent = e.key));

block content
  main
    p: input(type='text' value='foo, bar')
    p: b &nbsp;
