extends _index.pug

block state
  - const title = 'Tag Picker'
  - const scripts = ['index.min.js']
  - const styles = ['index.min.css']

block script
  script
    | const picker = new TagPicker(document.querySelector('input'));

block content
  main
    p: input(type='text')